.project,
.projectDark {

    display: flex;
    align-items: center;
    flex-direction: column;


    h1 {
        margin: 1rem;
    }

    h5 {
        text-decoration: underline;
        margin-bottom: 1rem;
        text-align: center;
    }

    img {
        max-width: 100%;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    width: 100vw;
}

.project {
    border-top: 1px solid gainsboro;

    h1 {
        color: var(--light-headline);
        transition: var(--transition);
    }
    
    p,
    h5 {
        color: var(--light-paragraph);
        transition: var(--transition);
    }
}

.projectDark {
    border-top: 1px solid var(--dark-background);
    background: var(--dark-background-secondary);
    transition: var(--transition);

    h1,
    h5 {
        color: var(--dark-headline);
        transition: var(--transition);
    }

    p {
        color: var(--dark-paragraph);
    }
}

.textContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

@media only screen and (max-width: 900px) {

    .container,
    .darkContainer {
        flex-direction: column;
        margin: 0 auto;
        justify-content: flex-end;

        h1 {
            margin: 1rem 0 0 0;
        }
    }

    .text {
        padding: 2rem;
    }
}