.main,
.darkMain {
    display: flex;
    width: 100%;
    justify-content: center;
    background: pink;
    position: relative;
}

.main {
    .buttonLeft,
    .buttonRight {
        border: none;
        background: var(--light-tertiary);
        transition: var(--transition);
        position: absolute;
        width: 45px;
        bottom: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        color: white;
        margin-left: 0;
    }
}
.darkMain {
    .buttonLeft,
    .buttonRight {
        border: none;
        background: var(--dark-button);
        transition: var(--transition);
        position: absolute;
        width: 45px;
        bottom: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        color: white;
        margin-left: 0;
    }
}

.buttonLeft {
    left: 10px;
}

.buttonRight {
    right: 10px;
}

@media only screen and (max-width: 377px) {
    .main, .darkMain {
        .buttonLeft, .buttonRight {
            bottom: 10px;
        }
    }
}

@media only screen and (max-width: 376px) {

    .buttonRight,
    .buttonLeft {
        bottom: 30px;
    }

    .buttonRight {
        right: 75px;
    }

    .buttonLeft {
        left: 75px;
    }
}